@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CommonObjectCanEatDrinkJsonModel
@{
    string systemCode = Model.SystemCode;
    if (String.IsNullOrWhiteSpace(systemCode)) systemCode = "";
}
<div class="row">
    <div class="col-md-2 text-right text-primary">
        SystemCode:
    </div>
    <div class="col-md-10">
        @{
            string hidRoomID = "d-none";
            if (String.IsNullOrWhiteSpace(systemCode))
            {
                hidRoomID = "";
            }
            else
            {
                @systemCode
            }
        }
        <input type="input" value="@systemCode" name="SystemCode" class="@hidRoomID">
        <input type="input" value="@ViewBag.CommonObjectViewModelType" name="commonObjectViewModelType" class="d-none">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Name:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.Name" name="Name">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Unit:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.Unit" name="Unit">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        ObjectType:
    </div>
    <div class="col-md-10">
        <select asp-for="ObjectType" name="ObjectType"
            asp-items="Html.GetEnumDescriptionSelectList<CommonObjectType>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Layout:
    </div>
    <div class="col-md-10">
        Weight: <input type="input" value="@Model.Weight" name="Weight:number" size="2">
        ,Pricing: <input type="input" value="@Model.Pricing" name="Pricing:number" size="6">
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        ShortName:
    </div>
    <div class="col-md-10">
        <textarea name="ShortName"
            class="tinymcetext">@Html.Raw(AnsciiColorUtil.ConvertToHtmlSpan(Model.ShortName))</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Description:
    </div>
    <div class="col-md-10">
        <textarea name="Description"
            class="tinymcetext">@Html.Raw(AnsciiColorUtil.ConvertToHtmlSpan(Model.Description))</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        DescriptionDetail:
    </div>
    <div class="col-md-10">
        <textarea name="DescriptionDetail"
            class="tinymcetextarea">@Html.Raw(AnsciiColorUtil.ConvertToHtmlSpan(Model.DescriptionDetail))</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Decoration:
    </div>
    <div class="col-md-10">
        <select asp-for="Decoration" name="Decoration" class="MultipleSelect"
            asp-items="Html.GetEnumDescriptionSelectList<CommonObjectDecoration>()"></select>
    </div>
</div>