@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension

@model CommonObjectCanEatDrinkJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        ActionKey:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.ActionKey" name="ActionKey">
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        DestroyWhenZeroQuota:
        @{
            (string Enable, string Disable) DestroyWhenZeroQuota =
            Model.DestroyWhenZeroQuota ? ("checked", "") : ("",
            "checked");
        }
    </div>
    <div class="col-md-9">
        <div>
            <input class="form-check-input" type="radio" name="DestroyWhenZeroQuota" id="DestroyWhenZeroQuotaTrue"
                value="True" data-value-type="boolean" @DestroyWhenZeroQuota.Enable>
            <label class="form-check-label" for="DestroyWhenZeroQuotaTrue">
                Enable
            </label>
        </div>
        <div>
            <input class="form-check-input" type="radio" name="DestroyWhenZeroQuota" id="DestroyWhenZeroQuotaFalse"
                value="False" data-value-type="boolean" @DestroyWhenZeroQuota.Disable>
            <label class="form-check-label" for="DestroyWhenZeroQuotaFalse">
                Disable
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        AllowExecuteTimes:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.AllowExecuteTimes" name="AllowExecuteTimes">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        SuccessMessage:
    </div>
    <div class="col-md-10">
        <textarea name="SuccessMessage"
            class="tinymcetext">@Html.Raw(AnsciiColorUtil.ConvertToHtmlSpan(Model.SuccessMessage))</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        ExtraInformation:
    </div>
    <div class="col-md-10">
        <textarea name="ExtraInformation"
            class="tinymcetext">@Html.Raw(AnsciiColorUtil.ConvertToHtmlSpan(Model.ExtraInformation))</textarea>
    </div>
</div>
