@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension

@model CommonObjectCanWearJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        Position:
    </div>
    <div class="col-md-10">
        <select asp-for="Position" name="Position"
            asp-items="Html.GetEnumDescriptionSelectList<EquipmentAllowPosition>()"></select>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Type:
    </div>
    <div class="col-md-10">
        <select asp-for="Type" name="Type" asp-items="Html.GetEnumDescriptionSelectList<WeaponType>()"></select>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Volume:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.Volume" name="Volume:number">
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Range:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.Range" name="Range:number">
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Precision:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.Precision" name="Precision:number">
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        ExtraDamageDefance:
    </div>
    <div class="col-md-10">
        @{
            if (Model.ExtraDamageDefance == null) Model.ExtraDamageDefance = new AttackPoint() { };
        }
        Physical:<input type="input" value="@Model.ExtraDamageDefance.Physical"
            name="ExtraDamageDefance[Physical]:number"><br>
        Wind:<input type="input" value="@Model.ExtraDamageDefance.Wind" name="ExtraDamageDefance[Wind]:number"><br>
        Fire:<input type="input" value="@Model.ExtraDamageDefance.Fire" name="ExtraDamageDefance[Fire]:number"><br>
        PhysicalReal:<input type="input" value="@Model.ExtraDamageDefance.PhysicalReal"
            name="ExtraDamageDefance[PhysicalReal]:number"><br>
        WindReal:<input type="input" value="@Model.ExtraDamageDefance.WindReal"
            name="ExtraDamageDefance[WindReal]:number"><br>
        FireReal:<input type="input" value="@Model.ExtraDamageDefance.FireReal"
            name="ExtraDamageDefance[FireReal]:number">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        ExtraAttribute:
    </div>
    <div class="col-md-10">
        @{
            if (Model.ExtraAttribute == null) Model.ExtraAttribute = new Attr() { };
        }
        Strength:<input type="input" value="@Model.ExtraAttribute.Strength" name="ExtraAttribute[Strength]:number"><br>
        Wisdom:<input type="input" value="@Model.ExtraAttribute.Wisdom" name="ExtraAttribute[Wisdom]:number"><br>
        Intelligent:<input type="input" value="@Model.ExtraAttribute.Intelligent"
            name="ExtraAttribute[Intelligent]:number"><br>
        Constitution:<input type="input" value="@Model.ExtraAttribute.Constitution"
            name="ExtraAttribute[Constitution]:number"><br>
        Dexterity:<input type="input" value="@Model.ExtraAttribute.Dexterity" name="ExtraAttribute[Dexterity]:number">
        <hr>
    </div>
</div>
