@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension

@model CommonObjectSpecialJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        AcceptVerbs:
    </div>
    <div class="col-md-10">
        <select id="AcceptVerbs" multiple="multiple" class="MultipleSelectFlag" name="AcceptVerbs">
            @{
                foreach (var item in Html.GetEnumDescriptionSelectList<ObjectActionsVerb>())
                {
                    if (item.Text == "None") continue;
                    string selected = Model.AcceptVerbs.HasFlag(Enum.Parse<ObjectActionsVerb>(item.Text)) ? "selected" : "";
                    string it = $"<option value=\"{ item.Text}\" {selected}>{item.Value}</option>";
                    @Html.Raw(@it)
                }
            }
        </select>
    </div>
</div>
<div class="row" id="KeyNumberRow">
    <div class="col-md-2 text-right">
        KeyNumber:
    </div>
    <div class="col-md-10">
        <input type="input" value="@Model.KeyNumber" name="KeyNumber:number" id="KeyNumber">
    </div>
</div>
<div class="row" id="gateStatusRow">
    <div class="col-md-2 text-right">
        gateStatus:
    </div>
    <div class="col-md-10">
        <select asp-for="gateStatus" name="gateStatus" id="gateStatus"
            asp-items="Html.GetEnumDescriptionSelectList<GateStatus>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        ContainSystemCode:<a href="#" class="bi bi-plus-circle text-primary btnAddContainSystemCode"></a>
    </div>
    <div class="col-md-10 InputContainSystemCode">
        @{
            if (Model.ContainSystemCode != null)
            {
                foreach (var item in Model.ContainSystemCode)
                {
                    <input type="input" value="@item" name="ContainSystemCode[]"><Br>
                }
            }
        }
    </div>
</div>
