@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model CommonObjectCanEatDrinkJsonModel

@{
    Layout = "_Layout";

    ViewData["Title"] = "Common object detail";
    string rootRoute = ViewData["Kind"] + "Files";
    string keyRoute = ViewData["Kind"] + "List?key=" + ViewBag.Key;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/CommonObjectCanEatDrink/@rootRoute">@ViewData["Kind"]</a>
        <li class="breadcrumb-item"><a href="/CommonObjectCanEatDrink/@keyRoute">@ViewBag.Key</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.SystemCode</li>
    </ol>
</nav>


@section Scripts{
<script>
    var key = '@ViewBag.Key';
    $().ready(function () {
        $('#JsModel').bind("submit", function () { return commonObjJs.SaveCanEatDrinkModel('@ViewData["Kind"]'); });
        $('.btnAddContainSystemCode').on("click", function () {
            var inputTextarea = '<input type="input" name="ContainSystemCode[]"><Br>';
            $('.InputContainSystemCode').append(inputTextarea);
            return false;
        });
        $('#AcceptVerbs').on("change", roomJs.ModifyAcceptVerb);
        $('#tabSpecialObj').on("shown.bs.tab", roomJs.ModifyAcceptVerb);
    })
</script>
}
<form id="JsModel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---->
                <div class="tabbable">
                    <!---->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#basic">Basic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#effectives">Effectives</a>
                        </li>
                        @await RenderSectionAsync("EquipmentTab", required: false)
                    </ul>
                    <!---->
                </div>
                <div class="tab-content">
                    <div class="tab-pane active container" id="basic">
                        <partial name="_Basic_Partical.cshtml" model="@Model" />
                    </div>
                    <div class="tab-pane container" id="effectives">
                        <partial name="_Effective_Partical.cshtml" model="@Model" />
                    </div>
                    @await RenderSectionAsync("EquipmentContent", required: false)
                </div>

                <div class="row  float-right">
                    <div class="col-md-12">
                        <input class="btn btn-primary" type="submit" value="送出">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@RenderBody()