@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model List<CommonObjectCanEatDrinkJsonModel>
@{
    string route = ViewData["Kind"].ToString() + "Detail";
    string routeKey = ViewData["Kind"].ToString() + "Files";
    string key = ViewBag.Key.ToString();
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/CommonObjectCanEatDrink/@routeKey">@ViewData["Kind"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Key</li>
    </ol>
</nav>

<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                System Code
            </th>
            <th>
                Description
            </th>
            <th>
                ActionKey
            </th>
            <th>
                AllowExecuteTimes
            </th>
            <th>
                DestroyWhenZeroQuota
            </th>
        </tr>
        foreach (var objmodel in Model)
        {
            <tr>
                <td>
                    <a class="nav-link"
                href="/CommonObjectCanEatDrink/@route?key=@key&systemcode=@objmodel.SystemCode">@objmodel.SystemCode</a>
                </td>
                <td>
                    @(objmodel.Unit + objmodel.Description + objmodel.ShortName + "(" + objmodel.Name + ")")
                </td>
                <td>
                    @objmodel.ActionKey
                </td>
                <td>
                    @objmodel.AllowExecuteTimes
                </td>
                <td>
                    @if (objmodel.DestroyWhenZeroQuota)
                    {
                        @:True
                    }
                </td>
            </tr>
        }
    }
</table>
