@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model List<CommonObjectCanWearJsonModel>
@{
    ViewData["Title"] = "CanWear file list";
    ViewData["Kind"] = "CanWear";
    var commonObj = Rest.MercuryCore.Utilities.ObjectExtension.DeepClone<
    List<CommonObjectCanWearJsonModel>,
    List<CommonObjectCanEatDrinkJsonModel>
    >(Model);

}
<partial name="CanEatDrink_Partical.cshtml" model="@commonObj" />
