@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model Dictionary<string, List<CommonObjectCanWearJsonModel>>
@{
    ViewData["Title"] = "CanWear file list";
    ViewData["Kind"] = "CanWear";
    var commonObj = Rest.MercuryCore.Utilities.ObjectExtension.DeepClone<
    Dictionary<string, List<CommonObjectCanWearJsonModel>>,
    Dictionary<string, List<CommonObjectCanEatDrinkJsonModel>>
    >(Model);
}
<partial name="CanXXXFileList_Partical.cshtml" model="@commonObj" />
