@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model CommonObjectCanWearJsonModel
@{
    Layout = "CanDrinkCanEatDetail.cshtml";
    ViewData["Title"] = "Common object can Eat";
    ViewData["Kind"] = "CanWear";
}

@section EquipmentTab{
<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#equipment">Equipment</a>
</li>
}

@section EquipmentContent{
<div class="tab-pane container" id="equipment">
    <partial name="_Equipment_Partical.cshtml" model="@Model" />
</div>
}