@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model Dictionary<string, List<CommonObjectCanEatDrinkJsonModel>>
@{
    string canType = ViewData["Kind"].ToString();
    string action = canType + "List";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@canType</li>
    </ol>
</nav>

<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                File Name
            </th>
            <th>
                Count
            </th>
        </tr>
        foreach (var objmodel in Model)
        {
            <tr>
                <td>
                    <a class="nav-link" href="/CommonObjectCanEatDrink/@action?key=@objmodel.Key">@objmodel.Key</a>
                </td>
                <td>
                    @objmodel.Value.Count()
                </td>
            </tr>
        }
    }
</table>
<a href="#" class="btn btn-link btn-sm" type="button" onclick="commonObjJs.outPutFiles('@canType');">Output @canType
    Defination</a>