@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model CommonObjectSpecialJsonModel
@{
    Layout = "CanDrinkCanEatDetail.cshtml";
    ViewData["Title"] = "Common object SpecialObj";
    ViewData["Kind"] = "SpecialObj";
}

@section EquipmentTab{
<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#SpecialObj" id="tabSpecialObj">Special Object</a>
</li>
}

@section EquipmentContent{
<div class="tab-pane container" id="SpecialObj">
    <partial name="_SpecialObj_Partical.cshtml" model="@Model" />
</div>
}