@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model Dictionary<string, List<CommonObjectSpecialJsonModel>>
@{
    ViewData["Title"] = "SpecialObj file list";
    ViewData["Kind"] = "SpecialObj";
    var commonObj = Rest.MercuryCore.Utilities.ObjectExtension.DeepClone<
    Dictionary<string, List<CommonObjectSpecialJsonModel>>,
    Dictionary<string, List<CommonObjectCanEatDrinkJsonModel>>
    >(Model);
}
<partial name="CanXXXFileList_Partical.cshtml" model="@commonObj" />
