@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject

@model List<CommonObjectSpecialJsonModel>
@{
    ViewData["Title"] = "SpecialObj file list";
    ViewData["Kind"] = "SpecialObj";
    var commonObj = Rest.MercuryCore.Utilities.ObjectExtension.DeepClone<
    List<CommonObjectSpecialJsonModel>,
    List<CommonObjectCanEatDrinkJsonModel>
    >(Model);

}
<partial name="CanEatDrink_Partical.cshtml" model="@commonObj" />
