@using Rest.MercuryCore.Objectivate
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model RoomDetailViewModel

@{
    ViewData["Title"] = "Room management";
    bool isNew = false;
    if (ViewBag.isNew != null)
    {
        isNew = ViewBag.isNew;
    }
}
@await Html.PartialAsync("~/Views/Room/Room_FunctionList.cshtml")

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Room/RoomParentList">Root</a></li>
        <li class="breadcrumb-item"><a href="/Room/RoomFileList?key=@ViewBag.RoomDataKey">@ViewBag.RoomDataKey</a></li>
        <li class="breadcrumb-item"><a
                href="/Room/RoomList?key=@ViewBag.RoomDataKey&subkey=@ViewBag.RoomSubDataKey">@ViewBag.RoomSubDataKey</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.roomModel.RoomID</li>
    </ol>
</nav>


<partial name="Room_AreaGeography_Display_Partical" model="@Model.fileRoomJsonModel" />

@section Scripts{
<script>
    var key = "@ViewBag.RoomDataKey";
    var subkey = "@ViewBag.RoomSubDataKey";
    var RoomID = @Model.roomModel.RoomID;

    $().ready(function () {
        //
        $('.btnAddExit').on("click", function () {
            sysJs.dialog("新增出口", "注意：系統會先自動存檔。", function () {
                roomJs.roomJsModel(true);
                location.reload();
            });
        });
        $('.btnRemoveExit').on("click", function () {
            $(this).parent().remove();
            return false;
        });
        $('.btnAddCommonObjects').on("click", roomJs.AddCommonObjects);
        $('.btnAddEquipments').on("click", roomJs.AddEquipments);
        $('.btnRemoveCommonObject').on("click", function () { $(this).parent().remove(); return false; });

        $('#roomJsModel').bind("submit", roomJs.roomJsModel);
    })
</script>
}
<form id="roomJsModel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 text-right">
                        RoomTitle:
                    </div>
                    <div class="col-md-10">
                        <input type="input" value="@Model.roomModel.RoomTitle" name="RoomTitle">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        DefaultCeiling:
                    </div>
                    <div class="col-md-10">
                        <select asp-for="roomModel.DefaultCeiling.Value" name="DefaultCeiling"
                            asp-items="Html.GetEnumDescriptionSelectList<RoomCoverType>()"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        CommonObjects:<a href="#" class="bi bi-plus-circle text-primary btnAddCommonObjects"></a>
                    </div>
                    <div class="col-md-10">
                        @{
                            if (Model.roomModel.CommonObjects != null)
                            {
                                foreach (var obj in Model.roomModel.CommonObjects)
                                {
                                    <div>
                                        <input type="text" name="CommonObjects[][SystemCode]" value="@obj.SystemCode">
                                        <input type="text" name="CommonObjects[][ActionKey]" value="@obj.ActionKey">
                                        <a href="#" class="bi bi-x-circle text-danger btnRemoveCommonObject"></a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        Equipments:<a href="#" class="bi bi-plus-circle text-primary btnAddEquipments"></a>
                    </div>
                    <div class="col-md-10">
                        @if (Model.roomModel.Equipments != null && Model.roomModel.Equipments.Count > 0)
                        {
                            foreach (string eqCode in Model.roomModel.Equipments)
                            {
                                <div>
                                    <input type="text" name="Equipments[]" value="@eqCode">
                                    <a href="#" class="bi bi-x-circle text-danger btnRemoveCommonObject"></a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right text-primary">
                        RoomID:
                    </div>
                    <div class="col-md-10">
                        @{
                            string hidRoomID = "d-none";
                            if (isNew)
                            {
                                hidRoomID = "";
                            }
                            else
                            {
                                @Model.roomModel.RoomID
                            }
                        }
                        <input type="input" value="@Model.roomModel.RoomID" name="RoomID" class="@hidRoomID">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        Exits:
                        <a href="#" class="bi bi-plus-circle text-primary btnAddExit"></a>
                    </div>
                    <div class="col-md-10">
                        <input class="form-check-input" type="checkbox" id="UpdateOppositeDoor" checked>
                        <label class="form-check-label" for="UpdateOppositeDoor">
                            Update all related exit settings
                        </label>
                        @for (var i = 0; i < Model.Exits.Count(); i++)
                        {
                            <div>
                                <input type="text" name="Exits[][RoomID]" value="@Model.Exits[i].RoomID" size="5">
                                <select asp-for="Exits[i].Dimension" name="Exits[][Dimension]"
                                asp-items="Html.GetEnumDescriptionSelectList<ExitName>()"></select>
                                <label asp-for="Exits[i].canLock">
                                    <input asp-for="Exits[i].canLock" name="Exits[][AcceptVerbs][]" value="CanLock">CanLock
                                </label>
                                <label asp-for="Exits[i].hasDoor">
                                    <input asp-for="Exits[i].hasDoor" name="Exits[][AcceptVerbs][]"
                                    value="CanOpenClose">HasDoor
                                </label>

                                <select asp-for="Exits[i].gateStatus" name="Exits[][gateStatus]"
                                asp-items="Html.GetEnumDescriptionSelectList<GateStatus>()"></select>

                                ,Key
                                <input type="text" name="Exits[][KeyNumber]" value="@Model.Exits[i].KeyNumber" size="2">
                                <a href="#" class="bi bi-x-circle text-danger btnRemoveExit"></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        Terrain:
                    </div>
                    <div class="col-md-10">
                        <select asp-for="roomModel.Terrain" name="Terrain"
                            asp-items="Html.GetEnumDescriptionSelectList<Topography>()"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        Description:
                    </div>
                    <div class="col-md-10">
                        @{
                            string Description = Model.roomModel.Description;
                            if (Description != null)
                                Description = AnsciiColorUtil.ConvertToHtmlSpan(Model.roomModel.Description);
                        }
                        <textarea name="Description" class="tinymcetextarea">@Html.Raw(Description)</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        Ceiling:
                    </div>
                    <div class="col-md-10">
                        <select asp-for="roomModel.Ceiling" name="Ceiling"
                            asp-items="Html.GetEnumDescriptionSelectList<RoomCoverType>()"></select>
                    </div>
                </div>

                <!----->
                <div class="row  float-right">
                    <div class="col-md-12">
                        <input class="btn btn-primary" type="submit" value="送出">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>