@using Rest.MercuryCore.Loader.LoadRooms
@model Dictionary<string, LoadRoom.FileRoomJsonModel>

@{
    ViewData["Title"] = "Room management";
}
@await Html.PartialAsync("~/Views/Room/Room_FunctionList.cshtml")
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Room/RoomParentList">Root</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.RoomDataKey
        </li>
    </ol>
</nav>
<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                Folder Name
            </th>
            <th>
                Geography
            </th>
            <th>
                Room ID Range
            </th>
            <th>
                Total Rooms
            </th>
        </tr>
        foreach (var roommodel in Model)
        {
            <tr>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="Room" asp-action="RoomList"
                asp-route-key="@ViewBag.RoomDataKey" asp-route-subkey="@roommodel.Key">@roommodel.Key</a>
                </td>
                <td>
                    <partial name="Room_AreaGeography_Display_Partical.cshtml" model="roommodel.Value" />
                </td>
                <td>
                    @{

                        int maxRoomid = 0;
                        int minRoomid = 0;
                        int RoomsCount = 0;
                        var rooms = roommodel.Value;
                        if (rooms != null && rooms.Rooms != null && rooms.Rooms.Count() > 0)
                        {
                            maxRoomid = rooms.Rooms.Max(room => room.RoomID);
                            minRoomid = rooms.Rooms.Min(room => room.RoomID);
                            RoomsCount = rooms.Rooms.Count();
                        }
                    }
                    @minRoomid ~ @maxRoomid
                </td>
                <td>
                    @RoomsCount
                </td>
            </tr>
        }
    }
</table>
