@using Rest.MercuryCore.Loader.LoadRooms
@model Dictionary<string, Dictionary<string, LoadRoom.FileRoomJsonModel>>

@{
    ViewData["Title"] = "Room management";

}
@await Html.PartialAsync("~/Views/Room/Room_FunctionList.cshtml")
<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                Folder Name
            </th>
            <th>
                Room ID Range
            </th>
        </tr>
        foreach (var roommodel in Model)
        {
            <tr>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="Room" asp-action="RoomFileList"
                asp-route-key="@roommodel.Key">@roommodel.Key</a>
                </td>
                <td>
                    @{
                        int maxRoomid = 0;
                        int minRoomid = 0;
                        var rooms = roommodel.Value;
                        if (rooms != null && rooms.Count() > 0
                        && rooms.Any(x => x.Value.Rooms != null && x.Value.Rooms.Count() > 0))
                        {
                            maxRoomid = rooms.Max(kv => kv.Value.Rooms.Max(room => room.RoomID));
                            minRoomid = rooms.Min(kv => kv.Value.Rooms.Min(room => room.RoomID));
                        }
                    }
                    @minRoomid ~ @maxRoomid
                </td>
            </tr>
        }
    }
</table>
<a href="#" class="btn btn-link btn-sm" type="button" onclick="roomJs.outPutFiles();">Output Room Defination</a>
