@using Rest.MercuryCore.Loader.LoadRooms
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model LoadRoom.FileRoomJsonModel

@{
    ViewData["Title"] = "Room management";
    List<int> allRoomID = new List<int>();
    if (Model.Rooms != null && Model.Rooms.Count() > 0)
        allRoomID = Model.Rooms.Select(x => x.RoomID).ToList();
}

@section Scripts{
<script>
    var key = "@ViewBag.RoomDataKey";
    var subkey = "@ViewBag.RoomSubDataKey";

    $().ready(function () {
        //Change Room ID
        $('.btnChangeRoomID').on("click", roomJs.displayChangeRoomID);
        $('#changeRoomIDSubmit').on("click", roomJs.saveChangeRoomID);
        //Change Exit Room ID
        $('.btnSetDoorRoomID').on("click", roomJs.displayChangeExitRoomID);
        $('#changeExitRoomIDSubmit').on("click", roomJs.saveChangeExitRoomID);
    })


</script>
}

@await Html.PartialAsync("~/Views/Room/Room_FunctionList.cshtml")
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Room/RoomParentList">Root</a></li>
        <li class="breadcrumb-item"><a href="/Room/RoomFileList?key=@ViewBag.RoomDataKey">@ViewBag.RoomDataKey</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.RoomSubDataKey
            <a class="bi bi-file-earmark-plus text-primary" asp-area="" asp-controller="Room" asp-action="NewRoomDetail"
                asp-route-key="@ViewBag.RoomDataKey" asp-route-subkey="@ViewBag.RoomSubDataKey"></a>
        </li>
    </ol>
</nav>
<partial name="Room_DefaultSetting_Partical" model="Model" />
<table class="table">
    @if (Model.Rooms != null && Model.Rooms.Count > 0)
    {
        <tr>
            <th>
                Room ID
            </th>
            <th>
                Room
            </th>
            <th>
                Title
            </th>
            <th>
                Exits
            </th>
        </tr>
        foreach (var roommodel in Model.Rooms)
        {
            <tr>
                <td>
                    <span>@roommodel.RoomID</span>
                    <a href="#" class="bi bi-pencil btnChangeRoomID" data-roomid="@roommodel.RoomID"></a>
                </td>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="Room" asp-action="RoomDetail"
                asp-route-key="@ViewBag.RoomDataKey" asp-route-subkey="@ViewBag.RoomSubDataKey"
                asp-route-id="@roommodel.RoomID">@roommodel.RoomTitle</a>
                </td>
                <td>
                    @roommodel.RoomTitle
                </td>
                <td>
                    @{
                        var allExits = Enum.GetValues<ExitName>().Skip(1);
                        foreach (var exit in allExits)
                        {
                            if (roommodel.Exits.Any(x => x.Dimension == exit))
                            {
                                var exitSetting = roommodel.Exits.Where(x => x.Dimension == exit).FirstOrDefault();
                                string RedColor = (allRoomID.Any(x => x == exitSetting.RoomID)) ? "" : "text-danger";
                                @:[
                                <a class="btn btn-link btn-sm @RedColor" asp-area="" asp-controller="Room" asp-action="RoomDetail"
                asp-route-key="@ViewBag.RoomDataKey" asp-route-subkey="@ViewBag.RoomSubDataKey"
                asp-route-id="@exitSetting.RoomID">@exitSetting.Dimension.GetDescriptionText()@exitSetting.RoomID</a><a
                    data-dimension="@exitSetting.Dimension.ToString()" href="#" data-roomid="@roommodel.RoomID"
                    class="bi bi-door-closed btnSetDoorRoomID"></a>
                                @:]
                            }
                            else
                            {
                                @:[
                                <a class="btn btn-link btn-sm text-muted" asp-area="" asp-controller="Room" asp-action="NewRoomDetail"
                asp-route-key="@ViewBag.RoomDataKey" asp-route-subkey="@ViewBag.RoomSubDataKey"
                asp-route-fromRoomID="@roommodel.RoomID"
                asp-route-dimensionFrom="@exit.ToString()">@exit.GetDescriptionText()</a><a
                    data-dimension="@exit.ToString()" href="#" data-roomid="@roommodel.RoomID"
                    class="bi bi-door-closed btnSetDoorRoomID"></a>
                                @:]
                            }
                        }
                    }
                </td>
            </tr>
        }
    }
</table>
@{
    if (allRoomID.Count() > 0)
    {
        //Rooms
        //所有的roomid
        List<(int RoomID, string RoomTitle)> roomPool = Model.Rooms.Select(x => (x.RoomID, x.RoomTitle)).ToList();

        //"待處理"的roomid
        List<int> roomIDList = new List<int>();
        //Map資料
        Dictionary<int, (int x, int y, int z, string RoomTitle)> roomMap = new Dictionary<int, (int x, int y, int z, string
        RoomTitle)>();

        int stopFlag = 0;

        //先塞一個原點
        var poolRoom = roomPool.Pop();
        int RoomID = poolRoom.RoomID;
        string RoomTitle = poolRoom.RoomTitle;
        (int x, int y, int z, string RoomTitle) currentPoint = (0, 0, 0, RoomTitle);
        roomMap.Add(RoomID, currentPoint);
        roomIDList.Add(RoomID);

        while (roomPool.Count() > 0)
        {
            stopFlag++;
            if (stopFlag > 1000)
            {
                Console.WriteLine("GG");
                break;
            }
            if (roomIDList.Count() == 0)
            {
                poolRoom = roomPool.Pop();
                RoomID = poolRoom.RoomID;
                Console.WriteLine("無法連結的房間：" + RoomID);
                continue;
            }
            else
            {
                //取待處理區一個房間出來, 應該都有在Map裏了
                RoomID = roomIDList.Pop();
                currentPoint = roomMap[RoomID];
            }

            //加入鄰居
            var roomobj = Model.Rooms.Where(r => r.RoomID == RoomID).FirstOrDefault();//取出房間資料
            if (roomobj != null)
            {
                var nearByRoomIDs = roomobj.Exits.Select(exit => exit.RoomID).ToList();
                nearByRoomIDs.ForEach(nearid =>
                {
                    if (!roomIDList.Contains(nearid))
                    {
                        roomIDList.Add(nearid);//防止重覆加入在待處理區
                        roomPool.Remove(roomPool.Where(x => x.RoomID == nearid).FirstOrDefault());//從Pool移掉，防止重覆處理
                    }
                });
                //畫鄰居，沒畫過的才要畫
                roomobj.Exits.ToList().ForEach(exit =>
                {
                    if (!roomMap.ContainsKey(exit.RoomID))
                    {
                        (int x, int y, int z, string RoomTitle) nearpoint = default;
                        if (exit.Dimension == ExitName.East) nearpoint = (currentPoint.x + 1, currentPoint.y, currentPoint.z, "");
                        if (exit.Dimension == ExitName.West) nearpoint = (currentPoint.x - 1, currentPoint.y, currentPoint.z, "");
                        if (exit.Dimension == ExitName.North) nearpoint = (currentPoint.x, currentPoint.y + 1, currentPoint.z, "");
                        if (exit.Dimension == ExitName.South) nearpoint = (currentPoint.x, currentPoint.y - 1, currentPoint.z, "");
                        if (exit.Dimension == ExitName.Up) nearpoint = (currentPoint.x, currentPoint.y, currentPoint.z + 1, "");
                        if (exit.Dimension == ExitName.Down) nearpoint = (currentPoint.x, currentPoint.y, currentPoint.z - 1, "");
                        var nearbyRoomInfo = Model.Rooms.Where(x => x.RoomID == exit.RoomID).FirstOrDefault();
                        if (nearbyRoomInfo != null)
                            nearpoint.RoomTitle = nearbyRoomInfo.RoomTitle;
                        roomMap.Add(exit.RoomID, nearpoint);
                    }
                });
            }
        }
        //計算徧移量
        int minx = roomMap.Min(x => x.Value.x);
        int miny = roomMap.Min(x => x.Value.y);
        int maxx = roomMap.Max(x => x.Value.x);
        int maxy = roomMap.Max(x => x.Value.y);

        //Layer 0
        for (int y = maxy; y >= miny; y--)
        {
            @:<br>
            for (int x = minx; x <= maxx; x++)
            {
                var point = (x, y, 0);
                if (roomMap.Any(x => x.Value.x == point.Item1 && x.Value.y == point.Item2 && x.Value.z == point.Item3))
                {
                    var roomInMap = roomMap.FirstOrDefault(x => x.Value.x == point.Item1 && x.Value.y == point.Item2 && x.Value.z ==
                    point.Item3);
                    <span title="@roomInMap.Key (@roomInMap.Value.RoomTitle)" class="text-primary">□</span>
                }
                else
                {
                    <span class="text-danger">□</span>
                }
            }
        }
    }
}
<div class="modal fade" id="modal-updateRoomID" role="dialog" aria-labelledby="dialogUpdateRoomID" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogUpdateRoomID">
                    Change RoomID
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="formChangeRoomID">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Previous RoomID:
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control-plaintext" id="oldRoomID" name="oldRoomID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            New RoomID:
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="newRoomID" id="newRoomID">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="changeRoomIDSubmit">
                    確定
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-updateExitRoomID" role="dialog" aria-labelledby="dialogUpdateExitRoomID"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogUpdateExitRoomID">
                    Change Exit RoomID
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="formChangeExitRoomID">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            RoomID:
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control-plaintext" id="ExitOnRoomID"
                                name="ExitOnRoomID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Dimation:
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control-plaintext" id="ExitDimation"
                                name="ExitDimation">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            New Exit RoomID:
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="newExitRoomID" id="newExitRoomID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            Update opposite:
                        </div>
                        <div class="col-md-8">
                            <input type="radio" name="UpdateOppositeDoor" id="UpdateOppositeDoorTrue" value="true"
                                checked>
                            <label for="UpdateOppositeDoorTrue">True</label>
                            <input type="radio" name="UpdateOppositeDoor" id="UpdateOppositeDoorFalse" value="false">
                            <label for="UpdateOppositeDoorFalse">False</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="changeExitRoomIDSubmit">
                    確定
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
