@using Rest.MercuryCore.Loader.LoadRooms
@using Rest.MercuryCore.Objectivate
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model LoadRoom.FileRoomJsonModel

<form id="fileRoomJsonModel">
    <input type="text" name="AreaGeography[World]" value="@Model.AreaGeography.World"> -
    <input type="text" name="AreaGeography[Region]" value="@Model.AreaGeography.Region"> -
    <input type="text" name="AreaGeography[Area]" value="@Model.AreaGeography.Area">
    <Br>
    環境光源： <select asp-for="DefaultCeiling" asp-items="Html.GetEnumDescriptionSelectList<RoomCoverType>()"></select>
</form>
