@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@model Dictionary<string, Dictionary<string, List<CreatureDefinationBasicJsonModel>>>

@{
    ViewData["Title"] = "Mob definition management";
}
<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                Folder Name
            </th>
            <th>
                Mob Count
            </th>
        </tr>
        foreach (var mobdefModel in Model)
        {
            <tr>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="MobDefination" asp-action="SecondLayer"
                asp-route-subFolder="@mobdefModel.Key">@mobdefModel.Key</a>
                </td>
                <td>
                    @mobdefModel.Value.Sum(x => x.Value.Count())
                </td>
            </tr>
        }
    }
</table>
<a href="#" class="btn btn-link btn-sm" type="button" onclick="mobJs.outPutFiles();">Output Mob Defination</a>
