@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CreatureDefinationBasicJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        Description:
    </div>
    <div class="col-md-10">
        @{
            string Description = Model.Settings.Description;
            if (Description != null)
                Description = AnsciiColorUtil.ConvertToHtmlSpan(Model.Settings.Description);
        }
        <textarea name="Settings[Description]" class="tinymcetext">@Html.Raw(Description)</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        DetailDescription:
    </div>
    <div class="col-md-10">
        @{
            string DetailDescription = Model.Settings.DetailDescription;
            if (DetailDescription != null)
                DetailDescription = AnsciiColorUtil.ConvertToHtmlSpan(Model.Settings.DetailDescription);
        }
        <textarea name="Settings[DetailDescription]" class="tinymcetextarea">@Html.Raw(DetailDescription)</textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Level:
    </div>
    <div class="col-md-10">
        <input type="text" name="Level" value="@Model.Level">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Race:
    </div>
    <div class="col-md-10">
        <select asp-for="Race" name="Race" asp-items="Html.GetEnumDescriptionSelectList<CreatureRace>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Gender:
    </div>
    <div class="col-md-10">
        <select asp-for="Gender" name="Gender" asp-items="Html.GetEnumDescriptionSelectList<CreatureGender>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Career:
    </div>
    <div class="col-md-10">
        <select asp-for="Career" name="Career" asp-items="Html.GetEnumDescriptionSelectList<CreatureCareer>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        StateMax:
    </div>
    <div class="col-md-10">
        Experience:<input type="text" name="StateMax[Experience]" value="@Model.StateMax.Experience"><br>
        HP:<input type="text" name="StateMax[HP]" value="@Model.StateMax.HP" size="6">,
        Mana:<input type="text" name="StateMax[Mana]" value="@Model.StateMax.Mana" size="6">,
        MV:<input type="text" name="StateMax[MV]" value="@Model.StateMax.MV" size="6">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        BasicAttack:
    </div>
    <div class="col-md-10">
        <input type="text" name="BasicAttack" value="@Model.BasicAttack">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        BasicDefence:
    </div>
    <div class="col-md-10">
        <input type="text" name="BasicDefence" value="@Model.BasicDefence">
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Coins:
    </div>
    <div class="col-md-10">
        <input type="text" name="Coins" value="@Model.Coins">
    </div>
</div>
