@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CreatureDefinationBasicJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        PracticeSkills:
    </div>
    <div class="col-md-10">
        @{
            if (Model.PracticeSkills != null && Model.PracticeSkills.Count() > 0)
            {
                var i = 0;
                foreach (var skill in Model.PracticeSkills)
                {
                    @:Skillname:
                    <select asp-for="PracticeSkills[i].Skillname" name="PracticeSkills[][Skillname]"
            asp-items="Html.GetEnumDescriptionSelectListSkill<SkillName>()"></select>
                    @:Proficiency:
                    <input type="text" name="PracticeSkills[][Proficiency]" value="@skill.Proficiency" size="4"><br>
                    i++;
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        LearnedSkillSystem:
    </div>
    <div class="col-md-10">
        @{
            if (Model.LearnedSkillSystem != null && Model.LearnedSkillSystem.Count() > 0)
            {
                var i = 0;
                foreach (var skill in Model.LearnedSkillSystem)
                {
                    @:skillCategory:
                    <select asp-for="LearnedSkillSystem[i].skillCategory" name="LearnedSkillSystem[][skillCategory]"
            asp-items="Html.GetEnumDescriptionSelectList<SkillCategory>()"></select>
                    @:Level:
                    <input type="text" name="LearnedSkillSystem[][Level]" value="@skill.Level" size="4"><br>
                    i++;
                }
            }
        }
    </div>
</div>