@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CreatureDefinationBasicJsonModel

<div class="row">
    <div class="col-md-2 text-right">
        QuestScriptName:
    </div>
    <div class="col-md-10">
        <input type="text" name="QuestScriptName" value="@Model.QuestScriptName">
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        QuestScript:
        <a href="#" class="bi bi-plus-circle text-primary btnAddQuestStep"></a>
    </div>
    <div class="col-md-10 QuestScript">
        @{
            if (Model.QuestScript != null && Model.QuestScript.Count() > 0)
            {
                foreach (var questStep in Model.QuestScript)
                {
                    @Html.Raw("<span>")
                    <input type="text" name="ViewQuestScript[][Key]" value="@questStep.Key">
                    <a href="#" class="bi bi-plus-circle text-primary btnAddQuestSetting"></a>
                    foreach (var questStr in questStep.Value)
                    {
                        string contentquest = AnsciiColorUtil.ConvertToHtmlSpan(questStr);
                        <textarea name="ViewQuestScript[][Value][]" class="tinymcetext">@Html.Raw(contentquest)</textarea>
                    }
                    @Html.Raw("</span>")
                }
            }
        }
    </div>
</div>
