@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CreatureDefinationBasicJsonModel
@{
    string Modelname = Model.Name;
    if (String.IsNullOrWhiteSpace(Modelname)) Modelname = "";
}
<div class="row">
    <div class="col-md-3 text-right text-primary">
        Name:
    </div>
    <div class="col-md-9">
        @{
            string hidRoomID = "d-none";
            if (String.IsNullOrWhiteSpace(Modelname))
            {
                hidRoomID = "";
            }
            else
            {
                @Modelname
            }
        }
        <input type="input" value="@Modelname" name="Name" class="@hidRoomID">
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        DisplayName:
    </div>
    <div class="col-md-9">
        <input type="input" value="@Model.Settings.Name" name="Settings[Name]">
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-right">
        SettingRebornTimeInSecond:
    </div>
    <div class="col-md-9">
        <input type="text" name="SettingRebornTimeInSecond" value="@Model.SettingRebornTimeInSecond">
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        ThingDef:<a href="#" class="bi bi-plus-circle text-primary btnAddThingDef"></a>
    </div>
    <div class="col-md-9 ThingDefMessages">
        @{
            if (Model.ThingDef != null && Model.ThingDef.Count() > 0)
            {
                foreach (var thihg in Model.ThingDef)
                {
                    @:Code:
                    <input type="text" name="ThingDef[][SystemCode]" value="@thihg.SystemCode">
                    @:Appear Rate:
                    <input type="text" name="ThingDef[][RateOfAppear]" value="@thihg.RateOfAppear" size="4">
                    @:Drop Rate:
                    <input type="text" name="ThingDef[][RateOfDrop]" value="@thihg.RateOfDrop" size="4"><br>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        EquipmentDef:<a href="#" class="bi bi-plus-circle text-primary btnAddEquipmentDef"></a>
    </div>
    <div class="col-md-9 EquipmentMessages">
        @{
            if (Model.EquipmentDef != null && Model.EquipmentDef.Count() > 0)
            {
                foreach (var eqdef in Model.EquipmentDef)
                {
                    @:Code:
                    <input type="text" name="EquipmentDef[][SystemCode]" value="@eqdef.SystemCode">
                    @:Appear Rate:
                    <input type="text" name="EquipmentDef[][RateOfAppear]" value="@eqdef.RateOfAppear" size="4">
                    @:Drop Rate:
                    <input type="text" name="EquipmentDef[][RateOfDrop]" value="@eqdef.RateOfDrop" size="4"><br>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        TrainingFeeBase:
    </div>
    <div class="col-md-9">
        <input type="text" name="TrainingFeeBase" value="@Model.TrainingFeeBase">
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        MeetPPLActionKey:
    </div>
    <div class="col-md-9">
        <select name="MeetPPLActionKey">
            <option></option>
            @{
                foreach (string actionKey in ViewBag.AllMobActions)
                {
                    string optionItems = (actionKey == Model.MeetPPLActionKey) ? "<option selected>" + actionKey + "</option>" :
                    "<option>" + actionKey + "</option>";
                    @Html.Raw(optionItems)
                }
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        GreetingMessages:
        <a href="#" class="bi bi-plus-circle text-primary btnAddGreeting"></a>
    </div>
    <div class="col-md-9 GreetingMessages">
        @{
            if (Model.GreetingMessages != null && Model.GreetingMessages.Count() > 0)
            {
                foreach (var greet in Model.GreetingMessages)
                {
                    string content = AnsciiColorUtil.ConvertToHtmlSpan(greet);
                    <textarea name="GreetingMessages[]" class="tinymcetext">@Html.Raw(content)</textarea>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        AllowSellingTypes:
    </div>
    <div class="col-md-9">
        <select asp-for="AllowSellingTypes" name="AllowSellingTypes" class="MultipleSelect"
            asp-items="Html.GetEnumDescriptionSelectList<CommonObjectType>()"></select>
    </div>
</div>
