@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@using Rest.MercuryCore.ManagementConsole.BLL.WebExtension
@model CreatureDefinationBasicJsonModel
<div class="row">
    <div class="col-md-2 text-right">
        AutoMovement:
        @{
            (string enableAutoMove, string disableAutoMove) AutoMovement = Model.AutoMovement ? ("checked", "") : ("",
            "checked");
        }
    </div>
    <div class="col-md-10">
        <div>
            <input class="form-check-input" type="radio" name="AutoMovement" id="AutoMovementTrue" value="true"
                data-value-type="boolean" @AutoMovement.enableAutoMove>
            <label class="form-check-label" for="AutoMovementTrue">
                Enable
            </label>
        </div>
        <div>
            <input class="form-check-input" type="radio" name="AutoMovement" id="AutoMovementFalse" value="false"
                data-value-type="boolean" @AutoMovement.disableAutoMove>
            <label class="form-check-label" for="AutoMovementFalse">
                Disable
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        Role:
    </div>
    <div class="col-md-10">
        <select asp-for="Role" name="Role" asp-items="Html.GetEnumDescriptionSelectList<MobRole>()"></select>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Murmur:
        <a href="#" class="bi bi-plus-circle text-primary btnAddMurmur"></a>
    </div>
    <div class="col-md-10 MurmurMessages">
        @{
            if (Model.Murmur != null && Model.Murmur.Count() > 0)
            {
                foreach (var mur in Model.Murmur)
                {
                    string content = AnsciiColorUtil.ConvertToHtmlSpan(mur);
                    <textarea name="Murmur[]" class="tinymcetext">@Html.Raw(content)</textarea>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        Menu:
        <a href="#" class="bi bi-plus-circle text-primary btnAddMenu"></a>
    </div>
    <div class="col-md-10 MenuMessages">
        @{
            if (Model.Menu != null && Model.Menu.Count() > 0)
            {
                foreach (var mur in Model.Menu)
                {
                    <input type="text" name="Menu[][SystemCode]" value="@mur.SystemCode"><br>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        MobSettings:
    </div>
    <div class="col-md-10">
        @{
            if (Model.MobSettings == null) Model.MobSettings = new Mob_Settings() { };
            (string enable, string disable) AutoAttack = Model.MobSettings.AutoAttackUser ? ("checked",
            "") : ("", "checked");
        }
        <div class="row">
            <div class="col-md-2 text-right">
                AutoAttackUser:
            </div>
            <div class="col-md-10">
                <div>
                    <input class="form-check-input" type="radio" name="MobSettings[AutoAttackUser]" id="AutoAttTrue"
                        value="true" data-value-type="boolean" @AutoAttack.enable>
                    <label class="form-check-label" for="AutoAttTrue">
                        Enable
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="MobSettings[AutoAttackUser]" id="AutoAttFalse"
                        value="false" data-value-type="boolean" @AutoAttack.disable>
                    <label class="form-check-label" for="AutoAttFalse">
                        Disable
                    </label>
                </div>
            </div>
        </div>
        Grudges:<select asp-for="MobSettings.Grudges" name="MobSettings[Grudges]"
            asp-items="Html.GetEnumDescriptionSelectList<GrudgesAndResolve>()"></select><br>
        GrudgesMessage:
        @{
            string contentGrudge = AnsciiColorUtil.ConvertToHtmlSpan(Model.MobSettings.GrudgesMessage);
        }
        <textarea name="MobSettings[GrudgesMessage]" class="tinymcetext">@Html.Raw(contentGrudge)</textarea>
    </div>
</div>
