@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@model CreatureDefinationBasicJsonModel

@{
    ViewData["Title"] = "Mob definition management";
    string Modelname = Model.Name;
    if (String.IsNullOrWhiteSpace(Modelname)) Modelname = "";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/MobDefination/FirstLayer">Root</a></li>
        <li class="breadcrumb-item"><a
                href="/MobDefination/SecondLayer?subFolder=@ViewBag.SubFolder">@ViewBag.SubFolder</a></li>
        <li class="breadcrumb-item"><a
                href="/MobDefination/ModelList?subFolder=@ViewBag.SubFolder&fileName=@ViewBag.FileName">@ViewBag.FileName</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Modelname</li>
    </ol>
</nav>

@section Scripts{
<script>
    var SubFolder = "@ViewBag.SubFolder";
    var FileName = "@ViewBag.FileName";
    var creatureName = "@Modelname";

    $().ready(function () {
        $('#JsModel').bind("submit", mobJs.mobSaveModel);
        $('.btnAddGreeting').on("click", function () {
            var inputTextarea = '<textarea name="GreetingMessages[]" class="tinymcetext"></textarea>';
            $('.GreetingMessages').append(inputTextarea);
            tinymceJs.tinymceBinding();
            return false;
        });

        $('.btnAddQuestStep').on("click", function () {
            var inputTextarea = '<input type="text" name="QuestScript[][Key]"><textarea name="QuestScript[][Value]" class="tinymcetext"></textarea>';
            $('.QuestScript').append(inputTextarea);
            tinymceJs.tinymceBinding();
            return false;
        });

        $('.btnAddQuestSetting').on("click", function () {
            var inputTextarea = '<textarea name="QuestScript[][Value][]" class="tinymcetext"></textarea>';
            $(this).parent().append(inputTextarea);
            tinymceJs.tinymceBinding();
            return false;
        });

        $('.btnAddMurmur').on("click", function () {
            var inputTextarea = '<textarea name="Murmur[]" class="tinymcetext"></textarea>';
            $('.MurmurMessages').append(inputTextarea);
            tinymceJs.tinymceBinding();
            return false;
        });

        $('.btnAddMenu').on("click", function () {
            var inputTextarea = '<input type="text" name="Menu[][SystemCode]" value=""><br>';
            $('.MenuMessages').append(inputTextarea);
            return false;
        });

        $('.btnAddThingDef').on("click", function () {
            var inputTextarea = 'Code:<input type="text" name="ThingDef[][SystemCode]">Appear Rate:<input type="text" name="ThingDef[][RateOfAppear]" size="4">Drop Rate:<input type="text" name="ThingDef[][RateOfDrop]" size="4"><br>';
            $('.ThingDefMessages').append(inputTextarea);
            return false;
        });

        $('.btnAddEquipmentDef').on("click", function () {
            var inputTextarea = 'Code:<input type="text" name="EquipmentDef[][SystemCode]">Appear Rate:<input type="text" name="EquipmentDef[][RateOfAppear]" size="4">Drop Rate:<input type="text" name="EquipmentDef[][RateOfDrop]" size="4"><br>';
            $('.EquipmentMessages').append(inputTextarea);
            return false;
        });

    })
</script>
}
<form id="JsModel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!---->
                <div class="tabbable">
                    <!---->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#toplayer">Top Layer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#mobinfo">MobInfo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#creature">Creature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#quests">Quests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#skills">Skills</a>
                        </li>
                    </ul>
                    <!---->
                </div>
                <div class="tab-content">
                    <div class="tab-pane active container" id="toplayer">
                        <partial name="ModDefL1_Partical.cshtml" model="@Model" />
                    </div>
                    <div class="tab-pane container" id="mobinfo">
                        <partial name="ModDefMobInfo_Partical.cshtml" model="@Model" />
                    </div>
                    <div class="tab-pane container" id="creature">
                        <partial name="ModDefCreature_Partical.cshtml" model="@Model" />
                    </div>
                    <div class="tab-pane container" id="quests">
                        <partial name="ModDefQuest_Partical.cshtml" model="@Model" />
                    </div>
                    <div class="tab-pane container" id="skills">
                        <partial name="ModDefSkills_Partical.cshtml" model="@Model" />
                    </div>
                </div>

                <div class="row  float-right">
                    <div class="col-md-12">
                        <input class="btn btn-primary" type="submit" value="送出">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>