@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@model List<CreatureDefinationBasicJsonModel>

@{
    ViewData["Title"] = "Mob definition management";
    Dictionary<string, string> moblocate = ViewBag.MobLocate;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/MobDefination/FirstLayer">Root</a></li>
        <li class="breadcrumb-item"><a
                href="/MobDefination/SecondLayer?subFolder=@ViewBag.SubFolder">@ViewBag.SubFolder</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.FileName
            <a class="bi bi-file-earmark-plus text-primary" asp-area="" asp-controller="MobDefination"
                asp-action="ModelDetail" asp-route-subFolder="@ViewBag.SubFolder"
                asp-route-fileName="@ViewBag.FileName"></a>
        </li>
    </ol>
</nav>
<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                Name
            </th>
            <th>
                In Room
            </th>
            <th>
                Role
            </th>
            <th>
                Quest
            </th>
            <th>
                Murmur
            </th>
            <th>
                Meet Action
            </th>
        </tr>
        foreach (var def in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-link btn-sm" asp-area="" asp-controller="MobDefination" asp-action="ModelDetail"
                asp-route-subFolder="@ViewBag.SubFolder" asp-route-fileName="@ViewBag.FileName"
                asp-route-name="@def.Name">@(def.Settings.Name + "(" +def.Name+ ")")</a>
                </td>
                <td>
                    @{
                        if (moblocate.ContainsKey(def.Name))
                        {
                            @moblocate[def.Name]
                        }
                    }
                </td>
                <td>
                    @{
                        if (def.Role != MobRole.None)
                        {
                            @def.Role
                        }
                    }
                </td>
                <td>
                    @{
                        if (!string.IsNullOrWhiteSpace(def.QuestScriptName) && def.QuestScript != null &&
                            def.QuestScript.Count() > 0)
                        {
                            <span class="bi bi-eyeglasses"></span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (def.Murmur != null && def.Murmur.Count() > 0)
                        {
                            <span class="bi bi-film"></span>
                        }
                    }
                </td>
                <td>
                    @def.MeetPPLActionKey
                </td>

            </tr>
        }
    }
</table>