@using Rest.MercuryCore.ManagementConsole.Models.JsonFileObject
@model Dictionary<string, List<CreatureDefinationBasicJsonModel>>

@{
    ViewData["Title"] = "Mob definition management";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/MobDefination/FirstLayer">Root</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.SubFolder</li>
    </ol>
</nav>
<table class="table">
    @if (Model.Count > 0)
    {
        <tr>
            <th>
                Folder Name
            </th>
            <th>
                Count
            </th>
            <th>
                Description
            </th>
        </tr>
        foreach (var objModel in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="MobDefination" asp-action="ModelList"
                asp-route-subFolder="@ViewBag.SubFolder" asp-route-fileName="@objModel.Key">@objModel.Key</a>
                </td>
                <td>
                    @objModel.Value.Count()
                </td>
                <td>
                    @{
                        bool isFirst = true;
                        foreach (var obj in objModel.Value)
                        {
                            if (isFirst)
                            {
                                isFirst = false;
                            }
                            else
                            {
                                @:,
                            }
                            if (!string.IsNullOrWhiteSpace(obj.QuestScriptName) && obj.QuestScript != null && obj.QuestScript.Count() >
                            0)
                            {
                                <span class="bi bi-eyeglasses"></span>
                            }

                            @obj.Settings.Name
                            switch (obj.Role)
                            {
                                case MobRole.Vendor:
                                    <span class="bi bi-cart text-success"></span>
                                    break;
                                case MobRole.Trainer:
                                    <span class="bi bi-book text-warning"></span>
                                    break;
                            }
                            <a class="btn btn-link btn-sm" asp-area="" asp-controller="MobDefination" asp-action="ModelDetail"
                asp-route-subFolder="@ViewBag.SubFolder" asp-route-fileName="@objModel.Key"
                asp-route-name="@obj.Name">@obj.Name</a>
                        }
                    }
                </td>
            </tr>
        }
    }
</table>
