﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rest.MercuryCore.ManagementConsole</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Management Console</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Room"
                                asp-action="RoomParentList">Room Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MobDefination"
                                asp-action="FirstLayer">Mob defination</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCommonObjectCanEatDrink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Common Object
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownCommonObjectCanEatDrink">
                                <a class="dropdown-item" asp-area="" asp-controller="CommonObjectCanEatDrink"
                                    asp-action="CanEatFiles">Can Eat</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CommonObjectCanEatDrink"
                                    asp-action="CanDrinkFiles">Can Drink</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CommonObjectCanEatDrink"
                                    asp-action="CanWearFiles">Can Wear</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CommonObjectCanEatDrink"
                                    asp-action="SpecialObjFiles">Special Object</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Rest.MercuryCore.ManagementConsole - <a asp-area="" asp-controller="Home"
                asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <a href="#" onclick="sysJs.dialog('title','message',function(){alert('aa')});return false;">Dialog sample</a>

    <div class="modal fade" id="modal-confirmation" role="dialog" aria-labelledby="dialogModelTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dialogModelTitle">
                        Modal title
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="dialogModelMessage">
                    kkkkkkkk
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="dialogSubmit">
                        確定
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-multiselect.min.js" asp-append-version="false"></script>
    <script src="~/js/jquery.serializejson.min.js" asp-append-version="false"></script>
    <script src="https://cdn.tiny.cloud/1/vj5chpxgk6pzb5opo0mhjx16s2flpdnrrd234jaucqxr1h9s/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>